body { font-family: Arial, sans-serif; margin:0px; background-color: #FF9;}
#header { background-color:#019; margin:0px; padding:10px; }
#header a { color:white; text-decoration:none }
#menu { display: block; margin:0px; background-color:#099; padding:5px; }
#menu li { display: inline-block; width:auto; margin: 0px 5px; }
#menu li a { color:white; text-decoration:none; }
#menu li a:hover { text-decoration: underline; }
#content { padding:10px; background-color: #DDD}

div.leftpanel { width:49%; float: left;}
div.rightpanel { width:49%; float: right;}
.clearfloat { clear: both;}

form { width: 800px; align: middle; }
form label, span.fieldlabel  {width:130px; height:25px; display:inline-block;}
form li label { display: inline; }
form label.error { color: red; font-weight: bold;}
form ul.radiobuttons { list-style-type:none }
