<!DOCTYPE html>
<html>
	<head>
		<title>Regular Donate</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/default.css"/>
	</head>
	<body>
		<h1 id="header"><a href='{% url "views.home" %}'>RegularDonate</a></h1>
        <ul id="menu">
            <li><a href="{% url "views.home" %}">Home</a>
            <li><a href="{% url "views.about" %}">About</a>
            <li><a href="{% url "donate" %}">Donate</a>
            <li><a href="#">Cancel</a>
        </ul>
	<div id="content">
		{% block content %}{% endblock %}
        </div>
	</body>
</html>
