{% extends 'base.html' %}

{% block content %}

{% if form.errors %}<h1> Please correct the following errors</h1>{% endif %}

<form action = '' method='post'>{% csrf_token %}
<input type="hidden" name="{{ stage_field }}" value="1" />
	<div class="leftpanel">
	{{ form.non_field_errors }}
	{% for field in form %}
		{% if field.html_name == 'amount' %}</div><div class="rightpanel">{% endif %}
	<div class="fieldWrapper">{% if field.html_name == 'repeat' %}
	<label style="float:left; height:80px;" for="id_repeat_0">{{ field.label_tag }}</label>
		<ul class="radiobuttons">
			<li><label for="id_repeat_0"><input type="radio" id="id_repeat_0" value="none" name="repeat" /> Once</label></li>
			<li><label for="id_repeat_1"><input type="radio" id="id_repeat_1" value="monthly" name="repeat" /> Every month for</label>
			{{ form.months }} {{ form.months.label_tag }}</li>
			<li><label for="id_repeat_2"><input type="radio" id="id_repeat_2" value="quarterly" name="repeat" /> Quarterly for</label>
			{{ form.quarters }} {{ form.quarters.label_tag }}</li>
			<li><label for="id_repeat_3"><input type="radio" id="id_repeat_3" value="yearly" name="repeat" /> Once a year for</label>
			{{ form.years }} {{ form.years.label_tag }}</li>
		</ul>
		<div class='clearfloat'></div>
		{% elif field.html_name == 'months' or field.html_name == 'quarters' or field.html_name == 'years' %}
		
		{% else %}
		<label for="id_{{ field.html_name }}" {% if field.errors %}class='error'{% endif %}>{{ field.label }}: </label> 
		{{ field }}{%endif%}
	</div>	{% endfor %}
	<input type='submit' value='Donate'/>
	</div>
	<div class='clearfloat'></div>
</form>
{% endblock %}
