{% extends "base.html" %}

{% block content %}

<h1>Preview your submission</h1>

<div class="leftpanel">
{% for field in form %}
{% if field.html_name == 'amount' %}</div><div class="rightpanel">{% endif %}
{% if field.html_name == 'months' %} {% else %}
<div style="fieldWrapper">
<span class='fieldlabel'>{{ field.label }}:</span>
{{ field.data }}
</div>
{% endif %}
{% endfor %}
</div>

<form action="" method="post">{% csrf_token %}
    <div class="leftpanel">
{% for field in form %}
{{ field.as_hidden }}
{% endfor %}
<input type="hidden" name="{{ stage_field }}" value="2" />
<input type="hidden" name="{{ hash_field }}" value="{{ hash_value }}" />
<p><input type="submit" value="Submit" /></p>
</form>

{% endblock %}
