<div class='leftpanel'>
	<div class='fieldWrapper'><span class='fieldlabel'>First Name: </span><span class='fieldvalue'>{{ donor.f_name }}</span></div>
	<div class='fieldWrapper'><span class='fieldlabel'>Last Name: </span><span class='fieldvalue'>{{ donor.l_name }}</span></div>
	<div class='fieldWrapper'><span class='fieldlabel'>Address: </span><span class='fieldvalue'>{{ donor.address }}</span></div>
	<div class='fieldWrapper'><span class='fieldlabel'> </span><span class='fieldvalue'>{{ donor.address2 }}</span></div>
	<div class='fieldWrapper'><span class='fieldlabel'>City: </span><span class='fieldvalue'>{{ donor.city }}</span></div>
	<div class='fieldWrapper'><span class='fieldlabel'>State: </span><span class='fieldvalue'>{{ donor.state }}</span></div>
	<div class='fieldWrapper'><span class='fieldlabel'>Postcode: </span><span class='fieldvalue'>{{ donor.postcode }}</span></div>
	<div class='fieldWrapper'><span class='fieldlabel'>Country: </span><span class='fieldvalue'>{{ donor.country }}</span></div>
	<div class='fieldWrapper'><span class='fieldlabel'>Phone: </span><span class='fieldvalue'>{{ donor.phone }}</span></div>
	<div class='fieldWrapper'><span class='fieldlabel'>Email: </span><span class='fieldvalue'>{{ donor.email }}</span></div>
	<div class='fieldWrapper'><span class='fieldvalue'>I {% if donor.allowmarketing %}{% else %}<b>do not</b> {% endif %}want to receive promotional material</span></div>
</div>