{% extends 'donate/basic.html' %}
{% block content %}
<p>Thank you {{ donor.f_name }}</p><br />
{% include 'donate/thanks_contact_info.html' %}
<div class='rightpanel'>
	<div class='fieldWrapper'><span class='fieldlabel'>Amount: </span><span class='fieldvalue'>{{ commitment.currency|upper }} {{ commitment.amount }}</span></div>
	<div class='fieldWrapper'><span class='fieldlabel'>Project: </span><span class='fieldvalue'>{{ commitment.project_name }}</span></div>
	<div class='fieldWrapper'><span class='fieldlabel'>Repeat: </span><span class='fieldvalue'>{{ commitment.frequency }}</span></div>
	<div class='fieldWrapper'><span class='fieldlabel'>For: </span><span class='fieldvalue'>{{ commitment.iterations_total }} cycles</span></div>
	<div class='fieldWrapper'><span class='fieldlabel'>Starting on: </span><span class='fieldvalue'>{{ commitment.start_date }}</span></div>
	<div class='fieldWrapper'><span class='fieldlabel'>Card Type: </span><span class='fieldvalue'>{{ commitment.cc_name }}</span></div>
	<div class='fieldWrapper'><span class='fieldlabel'>Card Number: </span><span class='fieldvalue'>{{ commitment.cc_last_four }}</span></div>
	<div class='fieldWrapper'><span class='fieldlabel'>Card Expiry: </span><span class='fieldvalue'>{{ commitment.cc_expiry }}</span></div>
</div>
<div class='clearfloat'></div> 
{% endblock %}