{% extends 'donate/basic.html' %}
{% block content %}
<p>Thank you {{ donation.f_name }}</p><br />
{% include 'donate/thanks_contact_info.html' %}
<div class='rightpanel'>
	<div class='fieldWrapper'><span class='fieldlabel'>Amount</span><span class='fieldvalue'>{{ donation.currency|upper }} {{ donation.amount }}</span></div>
	<div class='fieldWrapper'><span class='fieldlabel'>Project</span><span class='fieldvalue'>{{ donation.project_name }}</span></div>
	<div class='fieldWrapper'><span class='fieldlabel'>Card Type</span><span class='fieldvalue'>{{ donation.cc_name }}</span></div>
	<div class='fieldWrapper'><span class='fieldlabel'>Card Number</span><span class='fieldvalue'>{{ donation.cc_last_four }}</span></div>
	<div class='fieldWrapper'><span class='fieldlabel'>Card Expiry</span><span class='fieldvalue'>{{ donation.cc_expiry }}</span></div>
	<div class='fieldWrapper'>Process this donation <b>once only</b></span></div>
	
</div>
<div class='clearfloat'></div> 
{% endblock %}